.tooltip {
    position: relative;
}

.tooltip .tooltip_text {
    width: 40px;
    height: 40px;
    background-color: #935f96;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 50%;
}