.header {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.50);
}


@media (max-width: 400px) {
    .header {
        flex-wrap: wrap;
    }
}